.formElement{
    border-style:ridge;
    border-radius: 16px;
    border-color: crimson;
    padding: 1em 1em 1em 1em;
    
}

.main{
    margin-top:3em;
  }


.lblLeft{
    float: left;
    margin-top: 5em;
}
.clr{
    clear: both;
}
/* dskk */


/* body {
    padding: 2rem;
    font-family: 'Just Another Hand', cursive;
    background: #f3f3f3;
} */

.sketchy {
    padding: 4rem 8rem;
    display: inline-block;
    border: 3px solid #333333;
    font-size: 2.5rem;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    background: #ffffff;
    position: relative;
    
}

